#
#                             $$$$$$$\   $$$$$$$\ $$$$$$$$$$\                                                             
#                            $$$  __$$\  \_$$$  _|\__$$$  __|                                                            
#                            $$$ /  \__|   $$$ |     $$$ |                                                               
#                            $$$ |$$$$\    $$$ |     $$$ |                                                               
#                            $$$ |\_$$$ |  $$$ |     $$$ |                                                               
#                            $$$ |  $$$ |  $$$ |     $$$ |                                                               
#                             $$$$$$$ |  $$$$$$$\    $$$ |                                                               
#                             \______/   \_______|   \___|                                     
#
#   $$$$$$\  $$$$$$$\ $$$$$$$\ $$$$$$\ $$$$$$$\  $$\   $$\ $$$$$$$\ $$$$$$$$\  $$$$$$\  
#  $$  __$$\ \__$$  _|\__$$  _|\_$$  _|$$  __$$\ $$ |  $$ |\__$$  _|$$  _____|$$  __$$\ 
#  $$ /  $$ |   $$ |     $$ |    $$ |  $$ |  $$ |$$ |  $$ |   $$ |  $$ |      $$ /  \__|
#  $$$$$$$$ |   $$ |     $$ |    $$ |  $$$$$$$\ |$$ |  $$ |   $$ |  $$$$$\    \$$$$$$\  
#  $$  __$$ |   $$ |     $$ |    $$ |  $$  __$$\ $$ |  $$ |   $$ |  $$  __|    \____$$\ 
#  $$ |  $$ |   $$ |     $$ |    $$ |  $$ |  $$ |$$ |  $$ |   $$ |  $$ |      $$\   $$ |
#  $$ |  $$ |   $$ |     $$ |  $$$$$$\ $$$$$$$  |\$$$$$$  |   $$ |  $$$$$$$$\ \$$$$$$ |
#  \__|  \__|   \__|     \__|  \______|\_______/  \______/    \__|  \________| \_____/ 
#                                                                                          
# =======================================================================================
#
#   .GITATTRIBUTE is a file is a simple text file that gives attributes to pathnames.
#
# =======================================================================================
