#
#   $$$$$$\  $$$$$$\ $$$$$$$$\ $$$$$$\  $$$$$$\  $$\   $$\  $$$$$$\  $$$$$$$\  $$$$$$$$\ 
#  $$  __$$\ \_$$  _|\__$$  __|\_$$  _|$$  __$$\ $$$\  $$ |$$  __$$\ $$  __$$\ $$  _____|
#  $$ /  \__|  $$ |     $$ |     $$ |  $$ /  \__|$$$$\ $$ |$$ /  $$ |$$ |  $$ |$$ |      
#  $$ |$$$$\   $$ |     $$ |     $$ |  $$ |$$$$\ $$ $$\$$ |$$ |  $$ |$$$$$$$  |$$$$$\    
#  $$ |\_$$ |  $$ |     $$ |     $$ |  $$ |\_$$ |$$ \$$$$ |$$ |  $$ |$$  __$$< $$  __|   
#  $$ |  $$ |  $$ |     $$ |     $$ |  $$ |  $$ |$$ |\$$$ |$$ |  $$ |$$ |  $$ |$$ |      
#  \$$$$$$  |$$$$$$\    $$ |   $$$$$$\ \$$$$$$  |$$ | \$$ | $$$$$$  |$$ |  $$ |$$$$$$$$\ 
#   \______/ \______|   \__|   \______| \______/ \__|  \__| \______/ \__|  \__|\________|
#                                                                                        
# =======================================================================================
#
#       .GITIGNORE specifies intentionally untracked files that Git should ignore. 
#
# =======================================================================================
