#
#                            $$$$$$$\   $$$$$$\  $$$$$$$$$$\             
#                           $$$  __$$\  \_$$$  _|\__$$$  __|            
#                           $$$ /  \__|   $$$ |     $$$ |               
#                           $$$ |$$$$$\   $$$ |     $$$ |               
#                           $$$ |\_$$$ |  $$$ |     $$$ |               
#                           $$$ |  $$$ |  $$$ |     $$$ |               
#                           \$$$$$$$ |  $$$$$$\     $$$ |               
#                            \______/   \______|    \___|               
#                                                            
#          $$$$$$\     $$$$$$\   $$$\   $$$\ $$$$$$$$\ $$$$$$$$\  $$$$$$\  
#         $$$  __$$\ $$$  __$£$\ $$$$\  $$$ |$$$  _____|\_$$$  _|$$$  __$$\ 
#         $$$ /  \__|$$$ /  $£$ |$$$$$\ $$$ |$$$ |        $$$ |  $$$ /  \__|
#         $$$ |      $$$ |  $£$ |$$$ $$\$$$ |$$$$$$\      $$$ |  $$$ |$$$$$\ 
#         $$$ |      $$$ |  $£$ |$$$ \$$$$$ |$$$  __|     $$$ |  $$$ |\_$$$ |
#         $$$ |  $$\ $$$ |  $£$ |$$$ |\$$$$ |$$$ |        $$$ |  $$$ |  $$$ |
#         \$$$$$$  |   $$$$$$  | $$$ | \$$$ |$$$ |      $$$$$$\  \$$$$$$$ |
#          \______/    \______/   \__|  \__|  \__|      \______|  \______/ 
#                                                            
# =======================================================================================
#
#   .GITCONFIG is a file ...
#
# =======================================================================================
